/* комментарий */
body {
/*	width:90%; 
	max-width:1080px; */
	margin-left:auto;
	margin-right:auto;
	/* background: #CCCCCC; */
	}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
wrapper {
	
	}
	
section.main-content  {
	/*background: #cccccc; */
	}
	/*
.main-content h1 {
	color :  #050027;
   font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size : 25pt;
	text-align:center;
	padding:1em 0.1em 0.1em;
	}  
.main-content h2 {
	color : 472500; 
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size : 15pt; 
	text-align:center;
	padding:1em 0.1em 0.1em;
	}
.main-content h3 {
	color : 472500; 
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size : 14pt; 
	text-align:center;
	padding:1em 0.1em 0.1em;
	} 
	*/
.button-container {text-align: center;}
section.button-content {
	display:inline-block;
	width:220px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid #808080; 
	margin:10px;
        border-radius: 0.4rem;
	vertical-align: top;
	text-align: center;
	}
section.button-content h2 {
	color : #333333; 
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size:1rem; 
	padding:1px 4px 0px;
	text-align:center;
	}
section.blog-preview {
	position: relative;  
	left: 10%;
	width:80%;
	max-width:800px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid #808080; 
	margin:10px;
        border-radius: 0.4rem;
	}
a {text-decoration : none}
a:hover {color: #330000}
p {
	color : #666666; 
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	line-height: 1.5; 
	font-size: 1.1rem;
	letter-spacing:0.05em;
	text-align:justify;
	}

#home {
	padding-top: 50px; 
	padding-bottom: 50px;
	}

#home p {text-align:center;}

#video p {text-align:center;}

#video {
	padding-top: 50px; 
	padding-bottom: 50px; 
	/*background-color: rgb(255, 255, 255); */
	background-image: url("img/heder_field_4.jpg");
}



#blog p {text-align:center;}

img.preview {padding:10px 10px 0px;
	width:200px;
	height:150px
	}
img.imgblogpreview {
	padding:20px;
	width:100%;
	}
/*
site-footer
site-footer-owner
site-footer-credits
*/
